<div class=" border border-class">
    <h2 class="h2-class">Aggiungi prenotazione</h2>
</div>

<div id="body">
    <table id="tabella" class="table-responsive table-striped">
        <thead>
            <th colspan="10">Voli disponibili</th>
        </thead>
        <thead class="thead-dark">
            <th>Codice</th>
            <th>Compagnia</th>
            <th>Modello aereo</th>
            <th>Partenza volo</th>
            <th>Data e ora partenza</th>
            <th>Arrivo volo</th>
            <th>Data e ora arrivo</th>
            <th>Durata</th>
            <th>Numero scali</th>
            <th>Numero posti disponibili</th>
        </thead>
        <tbody>
            <tr *ngFor="let volo of voli">
                <td>{{volo.codice}}</td>
                <td>{{volo.codiceAereo.compagnia.nome}}</td>
                <td>{{volo.codiceAereo.modello}}</td>
                <td>{{volo.terminalOrigine.nome}} - {{volo.terminalOrigine.citta}}</td>
                <td>{{volo.dataPartenza}} - {{volo.oraPartenza}}</td>
                <td>{{volo.terminalDestinazione.nome}} - {{volo.terminalDestinazione.citta}}</td>
                <td>{{volo.dataArrivo}} - {{volo.oraArrivo}}</td>
                <td>{{volo.durata}}</td>
                <td>{{volo.numeroScali}}</td>
                <td>{{volo.codiceAereo.posti}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submitForm()">
        <div class="form-group row">
            <label for="sctVolo" class="col-sm-2 col-form-label col-form-label-lg">Volo:</label>
            <div class="col-sm-10">
                <select name="sctVolo" formControlName="selectVolo" class="form-control">
                    <option value="" selected></option>
                    <option *ngFor="let volo of voli" value="{{volo.codice}}">{{volo.codice}}</option>
                </select>
                <div class="invalid-feedback">Devi scegliere un volo</div>
                <div class="valid-feedback">Perfetto!</div>
            </div>
        </div><br>
        <div class="form-group row">
            <label for="sctCliente" class="col-sm-2 col-form-label col-form-label-lg">Cliente:</label>
            <div class="col-sm-10">
                <select name="sctCliente" formControlName="selectCliente" class="form-control">
                    <option value="" selected></option>
                    <option *ngFor="let cliente of clienti" value="{{cliente.codice}}">{{cliente.nome}}</option>
                </select>
                <div class="invalid-feedback">Devi scegliere un cliente</div>
                <div class="valid-feedback">Perfetto!</div>
            </div>
        </div>
        <br>
        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">INVIA</button>
            </div>
        </div>
    </form>
</div>
