<div class=" border border-class">
    <h2 class="h2-class">Aggiorna prenotazione</h2>
</div>

<div id="body">

    <table>
        <th>La tua prenotazione attuale</th>
        <thead>
            <th>Compagnia</th>
            <th>Modello aereo</th>
            <th>Partenza volo</th>
            <th>Data e ora partenza</th>
            <th>Arrivo volo</th>
            <th>Data e ora arrivo</th>
        </thead>
        <tbody>
            <td>{{prenotazione.codiceVolo.codiceAereo.compagnia.nome}}</td>
            <td>{{prenotazione.codiceVolo.codiceAereo.modello}}</td>
            <td>{{prenotazione.codiceVolo.terminalOrigine.nome}} - {{prenotazione.codiceVolo.terminalOrigine.citta}}</td>
            <td>{{prenotazione.codiceVolo.dataPartenza}} - {{prenotazione.codiceVolo.oraPartenza}}</td>
            <td>{{prenotazione.codiceVolo.terminalDestinazione.nome}} - {{prenotazione.codiceVolo.terminalDestinazione.citta}}</td>
            <td>{{prenotazione.codiceVolo.dataArrivo}} - {{prenotazione.codiceVolo.oraArrivo}}</td>
        </tbody>
    </table>

    <table id="tabella">
        <thead>
            <th>Codice</th>
            <th>Compagnia</th>
            <th>Modello aereo</th>
            <th>Partenza volo</th>
            <th>Data e ora partenza</th>
            <th>Arrivo volo</th>
            <th>Data e ora arrivo</th>
            <th>Numero posti disponibili</th>
        </thead>
        <tbody>
            <tr *ngFor="let volo of voli">
                <td>{{volo.codice}}</td>
                <td>{{volo.codiceAereo.compagnia.nome}}</td>
                <td>{{volo.codiceAereo.modello}}</td>
                <td>{{volo.terminalOrigine.nome}} - {{volo.terminalOrigine.citta}}</td>
                <td>{{volo.dataPartenza}} - {{volo.oraPartenza}}</td>
                <td>{{volo.terminalDestinazione.nome}} - {{volo.terminalDestinazione.citta}}</td>
                <td>{{volo.dataArrivo}} - {{volo.oraArrivo}}</td>
                <td>{{volo.codiceAereo.posti}}</td>
            </tr>
        </tbody>
    </table>
    <br><br>
    <form [formGroup]="myForm" novalidate (ngSubmit)="submitForm()">
        <label for="sctVolo">Volo:    </label>
        <select name="sctVolo" formControlName="selectVolo">
            <option value="" selected></option>
            <option *ngFor="let volo of voli" value="{{volo.codice}}">{{volo.codice}}</option>
        </select>
        <br>
        <label for="sctCliente">Cliente:    </label>
        <select name="sctCliente" formControlName="selectCliente">
            <option value="" selected></option>
            <option *ngFor="let cliente of clienti" value="{{cliente.codice}}">{{cliente.nome}}</option>
        </select>
        <br>
        <button type="submit">INVIA</button>
    </form>
</div>
